BuyBuzz/node_modules/
BuyBuzz/.expo/
BuyBuzz/dist/
BuyBuzz/npm-debug.*
BuyBuzz/*.jks
BuyBuzz/*.p8
BuyBuzz/*.p12
BuyBuzz/*.key
BuyBuzz/*.mobileprovision
BuyBuzz/*.orig.*
BuyBuzz/web-build/

# macOS
BuyBuzz/.DS_Store


Bucks/node_modules/
Bucks/.expo/
Bucks/dist/
Bucks/npm-debug.*
Bucks/*.jks
Bucks/*.p8
Bucks/*.p12
Bucks/*.key
Bucks/*.mobileprovision
Bucks/*.orig.*
Bucks/web-build/


# Temporary files created by Metro to check the health of the file watcher
BuyBuzz/.metro-health-check*


#RecommendApi Files
/__pycache__
RecommendApi/Dataset
RecommendApi/Model
RecommendApi/ModelData
RecommendApi/Model/__pycache__

#Api Service
ApiService/service
ApiService/Dataset

